.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.hero img{
    width: 240px;
    border-radius: 50%;
    margin-top: 30px;
}
.hero h1{
    text-align: center;
    width: 65%;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}
.hero h1 span{
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 20px 30px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume{
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: #b415ff;
}