.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0 30px;
    font-size: 60px;
    font-weight: 600;
}
.mywork-title img{
    width: 170px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}