.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0 30px;
    font-size: 60px;
    font-weight: 600;
}
.contact-title img{
    width: 170px;
    z-index: -1;
}